* @kneadCODE/super-admins

# Application Section
/contracts @kneadCODE/app-admins
/docs/ @kneadCODE/app-admins
/shared/ @kneadCODE/app-admins
/systems/ @kneadCODE/app-admins
.golangci.yml @kneadCODE/app-admins
renovate.json @kneadCODE/app-admins
.dockerignore @kneadCODE/app-admins
ARCHITECTURE.md @kneadCODE/app-admins
TECHSTACK.md @kneadCODE/app-admins
go.work @kneadCODE/app-admins
go.work.sum @kneadCODE/app-admins
docker-compose.yaml @kneadCODE/app-admins
Taskfile.yml @kneadCODE/app-admins
/systems/**/sonar-project.properties @kneadCODE/app-admins
/shared/**/sonar-project.properties @kneadCODE/app-admins

# Infra Section
/azure/**/sonar-project.properties @kneadCODE/infra-admins
/azure/tf/platform/ @kneadCODE/infra-admins
/azure/tf/modules/ @kneadCODE/infra-admins
/azure/tf/landingzone/ @kneadCODE/infra-contributors @kneadCODE/infra-admins
/.github/workflows/ci.yml @kneadCODE/infra-admins
/.github/actions/setup-go-workspace/ @kneadCODE/infra-admins
/.github/workflows/image-cleanup-scheduled.yml @kneadCODE/infra-admins
/.github/workflows/opentofu.yml @kneadCODE/infra-admins
/.github/workflows/opentofu-scheduled.yml @kneadCODE/infra-admins

# Security Section
SECURITY.md @kneadCODE/security-governance
/azure/tf/governance/ @kneadCODE/security-governance
/.github/actions/trivy/ @kneadCODE/security-governance
/.github/workflows/codeql*.yml @kneadCODE/security-governance
/.github/workflows/trivy*.yml @kneadCODE/security-governance
